:root {
  --screen: 45deg, hsl(0, 0%, 13%), hsla(0, 0%, 13%, .90);
  --button-1: 135deg, var(--clr-white), var(--clr-gray-2);
  --button-2: 135deg, var(--clr-gray-1), var(--clr-gray-3);
  --clr-purple-1: hsl(265, 70%, 61%);
  --clr-purple-2: hsl(265, 67%, 59%);
  --clr-purple-3: hsl(265, 65%, 58%);
  --clr-purple-4: hsl(265, 66%, 56%);
  --clr-purple-5: hsl(265, 63%, 50%);
  --clr-pink-1: hsl(348, 54%, 68%);
  --clr-pink-2: hsl(330, 79%, 54%);
  --clr-pink-3: hsl(330, 85%, 40%);
  --clr-orange: hsl(19, 100%, 70%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray-1: hsl(0, 0%, 97%);
  --clr-gray-2: hsl(0, 0%, 96%);
  --clr-gray-3: hsl(0, 0%, 95%);
  --calculator-border-radius: .75rem;
}

body {
  min-height: 100vh;
  padding: 10vh;
  display: grid;
  place-items: center;
  font-family: "Lato";
  background-image: linear-gradient(135deg, var(--clr-purple-1), var(--clr-orange));
}

.calculator {
  max-width: 400px;
}
.calculator-screen {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2rem;
  background-image: linear-gradient(var(--screen));
  border-top-left-radius: var(--calculator-border-radius);
  border-top-right-radius: var(--calculator-border-radius);
}
.calculator-screen__equation {
  max-width: 100%;
  overflow: hidden;
  color: var(--clr-pink-1);
  margin-bottom: 0.5rem;
}
.calculator-screen__output {
  max-width: 100%;
  overflow: hidden;
  color: var(--clr-white);
  font-weight: 300;
  font-size: 2.5rem;
}
@media screen and (min-width: 640px) {
  .calculator-screen__output {
    font-size: 4rem;
  }
}
.calculator-body {
  display: grid;
  grid-template-columns: repeat(4, minmax(2ch, 100px));
}
.calculator-button {
  border: none;
  border-radius: 0;
  margin: 0;
  cursor: pointer;
  background-image: linear-gradient(var(--button-1));
}
.calculator-button:hover {
  background-image: none;
  background-color: #ccc;
}
.calculator-button:nth-of-type(1), .calculator-button:nth-of-type(2), .calculator-button:nth-of-type(3) {
  background-image: linear-gradient(var(--button-2));
}
.calculator-button:nth-of-type(1):hover, .calculator-button:nth-of-type(2):hover, .calculator-button:nth-of-type(3):hover {
  background-image: none;
}
.calculator-button:nth-of-type(4), .calculator-button:nth-of-type(8), .calculator-button:nth-of-type(12), .calculator-button:nth-of-type(16), .calculator-button:last-of-type {
  background-image: none;
  color: var(--clr-white);
}
.calculator-button:nth-of-type(4):hover, .calculator-button:nth-of-type(8):hover, .calculator-button:nth-of-type(12):hover, .calculator-button:nth-of-type(16):hover, .calculator-button:last-of-type:hover {
  background-color: var(--clr-purple-5);
}
.calculator-button:nth-of-type(4) {
  background-color: var(--clr-purple-1);
}
.calculator-button:nth-of-type(8) {
  background-color: var(--clr-purple-2);
}
.calculator-button:nth-of-type(12) {
  background-color: var(--clr-purple-3);
}
.calculator-button:nth-of-type(16) {
  background-color: var(--clr-purple-4);
}
.calculator-button:not(:last-of-type) {
  aspect-ratio: 1;
}
.calculator-button:nth-last-of-type(3) {
  border-bottom-left-radius: var(--calculator-border-radius);
}
.calculator-button:last-of-type {
  grid-column: span 2;
  border-bottom-right-radius: var(--calculator-border-radius);
  background-color: var(--clr-pink-2);
}
.calculator-button:last-of-type:hover {
  background-color: var(--clr-pink-3);
}
@media screen and (min-width: 640px) {
  .calculator-button {
    font-size: 1.25rem;
  }
}/*# sourceMappingURL=main.css.map */