:root {
    --screen: 45deg, hsl(0, 0%, 13%), hsla(0, 0%, 13%, .90);
    --button-1: 135deg, var(--clr-white), var(--clr-gray-2);
    --button-2: 135deg, var(--clr-gray-1), var(--clr-gray-3);
    --clr-purple-1: hsl(265, 70%, 61%);
    --clr-purple-2: hsl(265, 67%, 59%);
    --clr-purple-3: hsl(265, 65%, 58%);
    --clr-purple-4: hsl(265, 66%, 56%);
    --clr-purple-5: hsl(265, 63%, 50%);
    --clr-pink-1: hsl(348, 54%, 68%);
    --clr-pink-2: hsl(330, 79%, 54%);
    --clr-pink-3: hsl(330, 85%, 40%);
    --clr-orange: hsl(19, 100%, 70%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-gray-1: hsl(0, 0%, 97%);
    --clr-gray-2: hsl(0, 0%, 96%);
    --clr-gray-3: hsl(0, 0%, 95%);
    --calculator-border-radius: .75rem;
}

body {
    min-height: 100vh;
    padding: 10vh;
    display: grid;
    place-items: center;
    font-family: 'Lato';
    background-image: linear-gradient(135deg, var(--clr-purple-1), var(--clr-orange));
}

.calculator {
    max-width: 400px;
    &-screen {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 2rem;
        background-image: linear-gradient(var(--screen));
        border-top-left-radius: var(--calculator-border-radius);
        border-top-right-radius: var(--calculator-border-radius);
        &__equation {
            max-width: 100%;
            overflow: hidden;
            color: var(--clr-pink-1);
            margin-bottom: .5rem;
        }
        &__output {
            max-width: 100%;
            overflow: hidden;
            color: var(--clr-white);
            font-weight: 300;
            font-size: 2.5rem;
            @media screen and (min-width: 640px) {
                font-size: 4rem;
            }
        }
    }
    &-body {
        display: grid;
        grid-template-columns: repeat(4, minmax(2ch, 100px))
    }
    &-button {
        border: none;
        border-radius: 0;
        margin: 0;
        cursor: pointer;
        background-image: linear-gradient(var(--button-1));
        &:hover {
            background-image: none;
            background-color: #ccc;
        }
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3) {
            background-image: linear-gradient(var(--button-2));
            &:hover {
                background-image: none;
            }
        }
        &:nth-of-type(4),
        &:nth-of-type(8),
        &:nth-of-type(12),
        &:nth-of-type(16),
        &:last-of-type {
            background-image: none;
            color: var(--clr-white);
            &:hover {
                background-color: var(--clr-purple-5);
            }
        }
        &:nth-of-type(4) {
            background-color: var(--clr-purple-1);
        }
        &:nth-of-type(8) {
            background-color: var(--clr-purple-2);
        }
        &:nth-of-type(12) {
            background-color: var(--clr-purple-3);
        }
        &:nth-of-type(16) {
            background-color: var(--clr-purple-4);
        }
        &:not(:last-of-type) {
            aspect-ratio: 1;
        }
        &:nth-last-of-type(3) {
            border-bottom-left-radius: var(--calculator-border-radius);
        }
        &:last-of-type {
            grid-column: span 2;
            border-bottom-right-radius: var(--calculator-border-radius);
            background-color: var(--clr-pink-2);
            &:hover {
                background-color: var(--clr-pink-3);
            }
        }
        @media screen and (min-width: 640px) {
            font-size: 1.25rem;
        }
    }
}